<a href="https://colab.research.google.com/github/Jatin-Miglani/Learn-ML/blob/main/Research_ML_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!") #shift+enter

Hello World!

In [ ]:
var1=25
print(var1)

25

In [ ]:
90+129

219

In [ ]:
var1=30 #int
var2=78.9 #float
var3=23 #int
var4=True #boolean
var5="amritsar" #string we don't have char in python
var6=45+7j #complex
#primitive data types in python.
print(var1," ",var2," ",var3," ",var4," ",var5," ",var6)

30   78.9   23   True   amritsar   (45+7j)

In [ ]:
#if you are adding multiple code in a single line then use semicolon.
print("Jatin");print("Miglani")

Jatin
Miglani

In [ ]:
print(type(var1))

<class 'int'>

In [ ]:
mystr="We are doing ML using python."
print(mystr)

We are doing ML using python.

In [ ]:
#slicing means to get some part of the data and hence we need index value which always start from zero and use len to print length of the string.
len(mystr)

29

In [ ]:
mystr[3]

'a'

In [ ]:
mystr[10:20] #print from 10 to 19

'ng ML usin'

In [ ]:
mystr[10:30]

'ng ML using python.'

In [ ]:
mystr[10:30:3] #print every third element from it.

'nMunph.'

In [ ]:
mystr[-10]

'n'

In [ ]:
##Core datatype where you can store a group of data

In [ ]:
#List Tuple Dictionary Sets these four can store heterogeneous data and Arrays can store homogeneous data.

List
It is a group of heterogeneous data which is mutable(that can be modified(add,replace,data)).
We make this by using squrae brackets and that is a list in python.

In [ ]:
mylst=[20,20.5,"Jatin",45+7j,["a",1,2.3]]
print(mylst)

[20, 20.5, 'Jatin', (45+7j), ['a', 1, 2.3]]

In [ ]:
len(mylst)

5

In [ ]:
mylst[4]

['a', 1, 2.3]

In [ ]:
mylst[1:5]

[20.5, 'Jatin', (45+7j), ['a', 1, 2.3]]

Tuple is also a group of hetrogeneous data but it is immutable. Implemented using ().

We also have DICTIONARY.
It is the data in the form of key-value pairs. Here the key is unique.It is defined by curly Brackets.
{key1:value1,key2:value2}

We also have Sets.
It is unordered collection of heterogeneous data.In curly Bracket.
{a1,a2,a3}

In [ ]:
mytuple=(20,20.5,"Jatin",[1,2,"a"])
print(mytuple)

(20, 20.5, 'Jatin', [1, 2, 'a'])

In [ ]:
#in a tuple we can take any type of data.

In [ ]:
myset={20,20.3,"Jatin",True}
print(myset)

{True, 20, 20.3, 'Jatin'}

In [ ]:
#Set is not an ordered data. Hence no indexing also we can't use list in it.

In [ ]:
mydict={"name":"Jatin","age":19}
print(mydict)

{'name': 'Jatin', 'age': 19}

In [ ]:
mydict={"name":"Jai","age":19,"name":"Jatin"}
print(mydict)

{'name': 'Jatin', 'age': 19}

In [ ]:
mydict['name']

'Jatin'

In [ ]:
#CONDITIONALS in Python.

if else
for loop
while loop

In [ ]:
num = input("Enter a number:")

Enter a number:12

In [ ]:
print(num)

12

In [ ]:
type(num)

str

In [ ]:
num = int(input("Enter a number:"))
print(num)
type(num)

Enter a number:12
12

int

In [ ]:
if num>0:
  print("Positive Number")
elif num==0:
  print("Zero")
else:
  print("Negative Number")

Positive Number

In [ ]:
num1=float(input("Enter the number"))
num2=float(input("Enter the number"))
op=input("Enter the operator")
if op=='+':
  print(num1+num2)
elif op=='*':
  print(num1*num2)
elif op=='-':
  print(num1-num2)
elif op=='/':
  print(num1/num2)
else:
  print("Enter valid Operator.")

Enter the number32
Enter the number36
Enter the operator*
1152.0

In [ ]:
i=0
while(i<10):
  print("The value of i is ", i)
  i=i+1

The value of i is  0
The value of i is  1
The value of i is  2
The value of i is  3
The value of i is  4
The value of i is  5
The value of i is  6
The value of i is  7
The value of i is  8
The value of i is  9

In [ ]:
mylst = ["Mumbai","Delhi","Amritsar","Kolkata","Varanasi"]

In [ ]:
i=0
while(i<len(mylst)):
  print(mylst[i])
  i+=1

Mumbai
Delhi
Amritsar
Kolkata
Varanasi

In [ ]:
for i in range(10):
  print("Value of i is ",i)

Value of i is  0
Value of i is  1
Value of i is  2
Value of i is  3
Value of i is  4
Value of i is  5
Value of i is  6
Value of i is  7
Value of i is  8
Value of i is  9

In [ ]:
for i in range(10,20,2):
  print("Value of i is ",i)

Value of i is  10
Value of i is  12
Value of i is  14
Value of i is  16
Value of i is  18

In [ ]:
for i in range(len(mylst)):
  print(mylst[i])

Mumbai
Delhi
Amritsar
Kolkata
Varanasi

In [ ]:
for i in mylst:
  print(i)

Mumbai
Delhi
Amritsar
Kolkata
Varanasi

In [ ]:
#FUNCTIONS IN PYTHON

In [ ]:
#print(), len(), range(), type(), input() all these are inbuilt functions in python.

In [ ]:
#1.Function without Arguement.
#2. Function with arguement.
#3.Function with default arguement.
#.Function with return Statement.

In [ ]:
#1. Function with Arguement.
def myFunc():
  print("This is my function.")

myFunc()

This is my function.

In [ ]:
#2.Function with Arguement.
def myCalc(a,b,op):
  if op=='+':
    print(num1+num2)
  elif op=='*':
    print(num1*num2)
  elif op=='-':
    print(num1-num2)
  elif op=='/':
    print(num1/num2)
  else:
    print("Enter valid Operator.")

num1=float(input("Enter the number"))
num2=float(input("Enter the number"))
op=input("Enter the operator")

myCalc(num1,num2,op)

Enter the number32
Enter the number36
Enter the operator*
1152.0

In [ ]:
33#3.Default Arguement.
#def myCalc(a=0,b=0,op='+')

33

In [ ]:
#4.Function with Return statement.
#def myCalc_ret(a,b,op)
#here just write return a+b and return a-b and so on no need to write print and all.